.loginContainer {
  min-height: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginForm {
  max-width: 500px;
  width: 100%;
  padding: 4rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: white;

  background-color: #43484d;
}

.formGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  font-size: 2rem;
}

.formGroup input {
  height: 4rem;
  border-radius: 0.5rem;
  border: none;
  padding: 1rem;
  font-size: 2rem;
  background-color: #d1d1d1;
}

.formGroup input:focus {
  outline: none;
  background-color: white;
}

.loginForm button {
  align-self: flex-start;
}

.incorrectText {
  font-size: 2.5rem;
  letter-spacing: 1.2px;
  color: red;
  margin-bottom: 2rem;
}
