.worldwiseContainer {
  flex: 1;
  display: flex;
  position: relative;
}

/* ========== 2 main sections======= */
.sidepanel {
  flex: 1;
  max-width: 55rem;
  min-width: 40rem;
  padding: 4rem;
  background-color: #2d3439;
}

@media (max-width: 575.98px) {
  .sidepanel {
    padding: 2rem;
  }
}

.mapContainer {
  flex: 2;
  background-color: #dad9d9;
  position: relative;
}

.mapContainer > div {
  height: 100%;
}

/* use your location button */
.getLocationBtn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  font-size: 1.6rem;
}

.getLocationBtn:hover {
  transform: translate(-50%, -50%);
  background-color: var(--secondary-color);
}

:global(.leaflet-popup-content-wrapper) {
  font-size: 1.6rem;
  background-color: #42484d;
  color: #ececec;
  border-radius: 7px;
  border-left: 5px solid var(--primary-color);
  height: fit-content;
}

.popup {
  cursor: pointer;
}
.cityName {
  border-bottom: solid 1px var(--primary-color);
  display: block;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

/* ==========SIDE PANEL CONTENT========= */

/* --------------tripForm--------------- */
.locationFilter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 1rem;
  overflow: hidden;
  margin: 2rem auto;
}

.locationFilter button {
  border: none;
  padding: 1rem 2rem;
  background-color: #43484d;
  color: white;
  border-radius: 0;
  font-size: 1.6rem;
}
.toggled {
  background-color: #242a2e !important;
}

.message {
  text-align: center;
  font-size: 1.8rem;
  margin: 2rem auto;
  width: 80%;
  font-weight: 600;
  color: #ececec;
}

.tripForm {
  background-color: #43484d;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  color: white;
  font-size: 1.8rem;
  border-radius: 1rem;
}

.tripForm > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tripForm input,
.tripForm textarea {
  font-size: 1.6rem;
  padding: 1rem 0.5rem;
  border-radius: 0.6rem;
  border: none;
  background-color: #d6dee0;
}

.tripForm input:focus,
.tripForm textarea:focus {
  outline: none;
  background-color: white;
}

.buttonGroup {
  flex-direction: row !important;
  justify-content: space-between;
}

.buttonGroup button {
  padding: 0.8rem 1.6rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  gap: 1rem;
}

.buttonGroup button:nth-of-type(1) {
  background-color: var(--primary-color);
}

.message {
  text-align: center;
  font-size: 1.8rem;
  margin: 2rem auto;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
  color: #ececec;
}

.datePicker {
  width: 100%;
}

:global(.Toastify__toast-container--bottom-right) {
  bottom: 1.5rem;
  right: 2.5rem;
}

:global(.Toastify__toast.successToast) {
  color: white;
  font-size: 2rem;
  background-color: var(--primary-color);
}

:global(.Toastify__toast.deleteToast) {
  color: white;
  font-size: 2rem;
  background-color: var(--secondary-color);
}
:global(.Toastify__toast.updateToast) {
  color: white;
  font-size: 2rem;
  background-color: var(--primary-color);
}
:global(.Toastify__toast.errorToast) {
  color: white;
  font-size: 2rem;
  background-color: red;
}

/* ------------UPDATE-TRIP-FORM------------- */

.updateTripForm {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  color: white;
}

.updateTripForm > div {
  display: flex;
  flex-direction: column;
}

.updateTripForm label {
  font-size: 400;
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: #ececec;
  margin-bottom: 1.2rem;
}

.updateTripForm textarea {
  font-size: 1.6rem;
  padding: 1rem 0.5rem;
  border-radius: 0.6rem;
  border: none;
  background-color: #d6dee0;
  min-height: 15rem;
}

.updateTripForm input {
  font-size: 1.6rem;
  padding: 1rem 0.5rem;
  border-radius: 0.6rem;
  border: none;
  background-color: #d6dee0;
}

/* --------------User Profile------------ */
.userProfile {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2000;
  height: 60px;
  background-color: rgba(44, 52, 58, 0.8);
  color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.imgContainer {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2), -1px -1px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.userProfile h3 {
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.userProfile button {
  font-size: 1.4rem;
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
  background-color: #2e3439;
  border: none;
  border-radius: 1.2rem;
  font-weight: 600;
  color: white;
  text-shadow: 1px 1px 1px black;

  cursor: pointer;
}

.userProfile button:hover {
  opacity: 0.8;
}
