* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}
:root {
  --primary-color: #41c46a;
  --secondary-color: #f4b546;
  --max-width: 1440px;
}
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

#root,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.app {
  margin: 2.5rem;
  box-shadow: 0 1rem 3rem #777;
  height: calc(100vh - 5rem);
  width: calc(100vw - 5rem);
  position: relative;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  padding: 5rem;
}

/* ------------backgrounds----------- */
.homepageBg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pricingBg,
.productBg,
.loginBg {
  background-color: #2e3439;
}

/* ------------Primary-btn ------------*/

.primary-btn {
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  text-shadow: none !important;
}

.primary-btn:hover {
  transform: scale(1.01);
}

/* ---------page-main-content--------- */

.page-main-content {
  margin: auto;
  color: #d8d8d8;
  max-width: 1080px;
  width: 100%;
  min-height: 400px;
  aspect-ratio: 2/1;
  display: flex;
}

.page-main-content > div {
  flex: 1;
}

.page-main-content .content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-main-content h2 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 3rem;
  text-align: left;
  width: 100%;
  letter-spacing: 1px;
}
.page-main-content p {
  font-size: 1.6rem;
  letter-spacing: 0.8px;
  line-height: 2.2rem;
}

.content-img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Small devices */
@media (max-width: 767.98px) {
  .page-main-content {
    flex-direction: column;
    height: 600px;
  }

  .content-img-container {
    height: 60%;
  }
}
